{
  "semi": false,
  "overrides": [
    {
      "files": ["COMMIT_EDITMSG"],
      "options": {
        "parser": "markdown",
        "printWidth": 72,
        "proseWrap": "always"
      }
    }
  ]
}
