{
  "proseWrap": "never",
  "semi": false,
  "overrides": [
    {
      "files": ["COMMIT_EDITMSG", "TAG_EDITMSG"],
      "options": {
        "parser": "markdown",
        "printWidth": 72,
        "proseWrap": "always"
      }
    },
    {
      "excludeFiles": [".claude/settings.json"],
      "files": [
        ".config/zed/*.json",
        ".config/zed/themes/*.json",
        "*.code-snippets",
        "keybindings.json",
        "keymap.json",
        "settings.json"
      ],
      "options": {
        "parser": "jsonc"
      }
    },
    {
      "files": ["*.y*ml"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
