{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["vue"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "quotes": ["warn", "double", { "allowTemplateLiterals": true }],
    "semi": ["warn", "never"],
    "vue/html-closing-bracket-newline": 0,
    "vue/html-indent": 0,
    "vue/html-self-closing": 0,
    "vue/max-attributes-per-line": 0,
    "vue/multiline-html-element-content-newline": 0,
    "vue/singleline-html-element-content-newline": 0
  }
}
